<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 'basic_form'}) do |f| %>
  <%= devise_error_messages! %>

  <%= hidden_field_tag 'plan', params[:plan] %>

  <div class="field form-group">
    <%= f.label :username, 'Enter a username (no spaces)' %>
    <%= f.text_field :username, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
  </div>

  <div class="field form-group">
    <%= f.label 'Account Type?' %>
    <%= f.select :acct_type, ['Artist', 'Label'], class: 'form-control' %>
  </div>

  <div class="actions form-group">
    <%= f.submit "Sign up", class: 'btn btn-success' %>
  </div>
<% end %>