<div class="row full-header">
	<div class="artist-header">
		<div class="col-md-3">
			<%= image_tag @artist.profile.avatar.url(:medium) %>
		</div>
		<div class="col-md-8 col-md-offset-1">
			<h1><%= @artist.artist.artist_name %></h1>
			<h4><%= @artist.profile.city %>, <%= @artist.profile.country %> </h4>
			<h4><%= @artist.profile.genre %></h4>
		</div>
	</div>
</div>
<div class="row artist-body">
	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
	<% if user_signed_in? %>
		<%= link_to 'Add New Release', new_artist_releases_path(@artist), class: 'btn btn-warning' %>
	<% end %>
	</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		Right Col
	</div>
</div>
